.nav-custom {
    background-color: rgb(8, 163, 67);
  }

  .footer-custom{
    background: rgb(158,255,247);
    background: linear-gradient(90deg, rgba(158,255,247,1) 0%, rgba(128,255,107,1) 36%, rgba(76,186,0,1) 100%);
  }