.nav-custom {
    background-color: rgba(26,47,198,.8);
  }

  .footer-custom{
    background: rgb(45,197,185);
    background: linear-gradient(90deg, rgba(45,197,185,1) 4%, rgba(26,47,198,1) 73%, rgba(151,35,201,1) 100%);
  }