body{
    background-color: #37517E;
}
.bg-custom{
    background-color: #37517E;
}
footer{
    background-color: #F3F5FA;
    height: 15%;
}
.btn-custom1{
    background-color: #47B2E4;
    color: white;
}